In [1]:
select version();

version()
10.7.0-MariaDB-MDEV-4958-uuid

# Create a Table of UUID values

In [2]:
create database if not exists uuidtest;

In [3]:
use uuidtest;

In [4]:
CREATE OR REPLACE TABLE t1 (a UUID);

In [5]:
INSERT INTO t1 VALUES ('00000000-0000-0000-0000-000000000000');

In [6]:
INSERT INTO t1 VALUES ('ffffffff-ffff-ffff-ffff-ffffffffffff');

In [7]:
INSERT INTO t1 VALUES('123e4567-e89b-12d3-a456-426655440000');

In [8]:
select *, length(a) from t1;

a,length(a)
00000000-0000-0000-0000-000000000000,36
ffffffff-ffff-ffff-ffff-ffffffffffff,36
123e4567-e89b-12d3-a456-426655440000,36

# Create a Table of UUID with default UUID values

In [9]:
CREATE OR REPLACE TABLE t2 (id UUID NOT NULL PRIMARY KEY DEFAULT(UUID()));

Here **UUID()** is the function that returns a **UUID**. Below we insert 3 default rows.

In [10]:
INSERT INTO t2 VALUES (),(),();

In [11]:
SELECT * FROM t2;

id
4835ad44-16ae-11ec-9697-3c58c2a5ca80
4835ae00-16ae-11ec-9697-3c58c2a5ca80
4835ae7a-16ae-11ec-9697-3c58c2a5ca80

# Create a table of text UUID

In [12]:
create or replace table b1 (a text);

In [13]:
insert into b1 select a from t1;

In [14]:
INSERT INTO b1 VALUES ('00000000000000000000000000000000');
INSERT INTO b1 VALUES ('00000000000000000000000000000001');
INSERT INTO b1 VALUES ('fffffffffffffffffffffffffffffffe');
INSERT INTO b1 VALUES ('ffffffffffffffffffffffffffffffff');

# Now alter this table to the UUID data type

In [15]:
alter table b1 modify column a uuid;

In [16]:
select * from b1;

a
00000000-0000-0000-0000-000000000000
ffffffff-ffff-ffff-ffff-ffffffffffff
123e4567-e89b-12d3-a456-426655440000
00000000-0000-0000-0000-000000000000
00000000-0000-0000-0000-000000000001
ffffffff-ffff-ffff-ffff-fffffffffffe
ffffffff-ffff-ffff-ffff-ffffffffffff

The above conversion has the same effect if the original table was using **CHAR** or **VARCHAR** types containing hexadecimal strings.

# Starting with binary representation of UUIDs

In [17]:
create or replace table b2 (a blob);

In [18]:
INSERT INTO b2 VALUES (x'00000000000000000000000000000000');
INSERT INTO b2 VALUES (x'00000000000000000000000000000001');
INSERT INTO b2 VALUES (x'fffffffffffffffffffffffffffffffe');
INSERT INTO b2 VALUES (x'ffffffffffffffffffffffffffffffff');

In [19]:
select hex(a) from b2;

hex(a)
00000000000000000000000000000000
00000000000000000000000000000001
FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFE
FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF

In [20]:
alter table b2 modify column a uuid;

In [21]:
select * from b2;

a
00000000-0000-0000-0000-000000000000
00000000-0000-0000-0000-000000000001
ffffffff-ffff-ffff-ffff-fffffffffffe
ffffffff-ffff-ffff-ffff-ffffffffffff

The above conversion has the same effect if the original table was using a **BINARY** or **VARBINARY** column type of binary data.

# Casting values as UUID

In [22]:
SELECT CAST('123e4567-e89b-12d3-a456-426655440000' AS UUID);

CAST('123e4567-e89b-12d3-a456-426655440000' AS UUID)
123e4567-e89b-12d3-a456-426655440000

In [23]:
SELECT CAST(x'102030405000000000000000adcefeff' AS UUID);

CAST(x'102030405000000000000000adcefeff' AS UUID)
10203040-5000-0000-0000-0000adcefeff

In [24]:
SELECT CAST('longlive-that-bear-a456-426655440000' AS UUID);

CAST('longlive-that-bear-a456-426655440000' AS UUID)
NULL

In [25]:
SHOW WARNINGS;

Level,Code,Message
Warning,1292,Incorrect uuid value: 'longlive-that-bear-a456-426655440000'