# Fine Tuning and Optimising MariaDB Query

Tutor: Daniel Black

Welcome!

**Please load this notebook in your browser** This will provide a remote running instance of MariaDB to complete this workshop.

# URL https://tinyurl.com/2024osimariadb

Optional alternative: If you want to run against a existing MariaDB-10.11+ version installed locally or at your displosal, you can copy SQL commands there.

# Outline for today

* MariaDB and MySQL basics
* Data types
* Date and Time
* Structured Queries and Tables
* Basic normalization
* Joins
* Window Functions
* Indexing for performance
* Basic Tuning
* Problem diagnosis
* Getting Help

# MariaDB and MySQL basics

MariaDB improves/fixes MySQL.

## MariaDB History

Common codebase originated in 2009. So 15 years of new features and bug fixes by large engineering team and community contributors.

| Version          | Original Release Date | Latest Version | Release Date | Status       | End of Life                                                                                  |
|------------------|-----------------------|----------------|--------------|--------------|----------------------------------------------------------------------------------------------|
| 5.1 LTS          | 2009-10-29            | 5.1.67        | 2013-01-30   | Stable (GA)  | [Feb 2015](https://mariadb.org/about/maintenance-policy/)                                  |
| 5.2 LTS          | 2010-04-10            | 5.2.14        | 2013-01-30   | Stable (GA)  | [Nov 2015](https://mariadb.org/about/maintenance-policy/)                                  |
| 5.3 LTS          | 2011-07-26            | 5.3.12        | 2013-01-30   | Stable (GA)  | [Mar 2017](https://mariadb.org/about/maintenance-policy/)                                  |
| 5.5 LTS          | 2012-02-25            | 5.5.68        | 2020-05-12   | Stable (GA)  | [Apr 2020](https://mariadb.org/about/maintenance-policy/)                                  |
| 10.0 LTS         | 2012-11-12            | 10.0.38       | 2019-01-31   | Stable (GA)  | [Mar 2019](https://mariadb.org/about/maintenance-policy/)                                  |
| 10.1 LTS         | 2014-06-30            | 10.1.48       | 2020-11-04   | Stable (GA)  | [Oct 2020](https://mariadb.org/about/maintenance-policy/)                                  |
| 10.2 LTS         | 2016-04-18            | 10.2.44       | 2022-05-20   | Stable (GA)  | [May 2022](https://mariadb.org/about/maintenance-policy/)                                  |
| 10.3 LTS         | 2017-04-16            | 10.3.39       | 2023-05-10   | Stable (GA)  | [May 2023](https://mariadb.org/about/maintenance-policy/)                                  |
| 10.4 LTS         | 2018-11-09            | 10.4.34       | 2024-05-16   | Stable (GA)  | [Jun 2024](https://mariadb.org/about/maintenance-policy/)                                  |
| 10.5 LTS         | 2019-12-03            | 10.5.26       | 2024-08-08   | Stable (GA)  | [Jun 2025](https://mariadb.org/about/maintenance-policy/)                                  |
| 10.6 LTS         | 2021-04-26            | 10.6.19       | 2024-08-08   | Stable (GA)  | [Jul 2026](https://mariadb.org/about/maintenance-policy/)                                  |
| 10.7             | 2021-09-17            | 10.7.8        | 2023-02-06   | Stable (GA)  | [Feb 2023](https://mariadb.org/about/maintenance-policy/)                                  |
| 10.8             | 2021-12-22            | 10.8.8        | 2023-05-10   | Stable (GA)  | [May 2023](https://mariadb.org/about/maintenance-policy/)                                  |
| 10.9             | 2022-03-23            | 10.9.8        | 2023-08-14   | Stable (GA)  | [Aug 2023](https://mariadb.org/about/maintenance-policy/)                                  |
| 10.10            | 2022-06-23            | 10.10.7       | 2023-11-13   | Stable (GA)  | [Nov 2023](https://mariadb.org/about/maintenance-policy/)                                  |
| 10.11 LTS        | 2022-09-26            | 10.11.9       | 2024-08-08   | Stable (GA)  | [Feb 2028](https://mariadb.org/about/maintenance-policy/)                                  |
| 11.0             | 2022-12-27            | 11.0.6        | 2024-05-16   | Stable (GA)  | [Jun 2024](https://mariadb.org/about/maintenance-policy/)                                  |
| 11.1             | 2023-03-27            | 11.1.6        | 2024-08-08   | Stable (GA)  | [Aug 2024](https://mariadb.org/about/maintenance-policy/)                                  |
| 11.2             | 2023-06-20            | 11.2.5        | 2024-08-08   | Stable (GA)  | [Nov 2024](https://mariadb.org/about/maintenance-policy/)                                  |
| 11.4 LTS        | 2023-12-24            | 11.4.3        | 2024-08-08   | Stable (GA)  | [May 2029](https://mariadb.org/about/maintenance-policy/)                                  |
| 11.5 R           | 2023-09-20            | 11.5.2        | 2024-08-14   | Stable (GA)  | [Rolling](https://mariadb.org/about/maintenance-policy/)                                    |
| 11.6 R           | 2023-09-20            | 11.6.1        | 2024-08-14   | Release Candidate | [Rolling](https://mariadb.org/about/maintenance-policy/)                                   |

**Legend:** 
- **LTS** = Long-Term Support
- **R** = Rolling Release

(Source: Wikipedia: https://en.wikipedia.org/wiki/MariaDB and conversion by chatGPT)

## MariaDB Availability

### Repositories released by MariaDB

https://mariadb.org/download/#mariadb-repositories

* Debian
* Ubuntu
* RHEL
* Fedora
* SLES

Architectures;
* x86_64
* x86_32
* AArch64
* IBM Z
* IBM POWER

Note: not all distros have all options.

### Packages released by MariaDB

https://mariadb.org/download

* Microsoft Windows
* Source Tarball
* Binary Tarball for Linux

### Containers - Via Docker Official Images

* docker.io/library/mariadb

## Distros

* Linux distros (too many to list)
* Homebrew (macos)
* FreeBSD / OpenBSD / NetBSD
* Container bitnami/mariadb
* Container Linux Server / mariadb

## MariaDB Configuration

In .cnf files. Like

RPM distros **/etc/my.cnf**

    !includedir /etc/my.cnf.d

Deb distros **/etc/mysql/my.cnf**

    !includedir /etc/mysql/mariadb.conf.d/
    !includedir /etc/mysql/conf.d/

This is giving you directories to put config options so upgrades don't overwrite them:

E.g. Ubuntu:

    ls -al  /etc/mysql/mariadb.conf.d/
    total 32
    drwxr-xr-x. 3 root root 4096 Sep 17 00:59 .
    drwxr-xr-x. 4 root root 4096 Sep 17 00:59 ..
    -rw-r--r--. 1 root root   46 Sep 17 00:59 05-skipcache.cnf
    -rw-r--r--. 1 root root  575 Aug  3 07:29 50-client.cnf
    -rw-r--r--. 1 root root  231 Aug  3 07:29 50-mysql-clients.cnf
    -rw-r--r--. 1 root root 3760 Sep 17 00:59 50-server.cnf
    -rw-r--r--. 1 root root  570 Aug  3 07:29 60-galera.cnf

So file per purpose, (good for Ansible rules where types of servers overlap)

Contents of file, group, followed by options:

Groups examples **[server]** or **[client]**, **[client-server]**, **[mariadbd-10.11]**.

What options does a MariaDB server of client use? Look at the help

     mariadbd --help --verbose
     ....
     The following groups are read: mysqld server mysqld-10.11 mariadb mariadb-10.11 mariadbd mariadbd-10.11 client-server galera

Same with a client:

     mariadb --help --verbose
     ...
     The following groups are read: mysql mariadb-client client client-server client-mariadb

### What needs to be configured

Normally nothing.

Configuration is designed to work as default. Its designed to work with a low end 1G VMs in its default configuration. For production systems recommend increasing `innodb_buffer_pool_size` to enough to hold the active portion of your database(s) contents in RAM (we'll come back to this at the end with tuning).

## Why this structure?

Good design gains the best performance results.

To perform well by design:
1. Datatypes
1. Table structure
1. Queries / Indexes
1. Tuning

To resolving perforamce problem
1. Tuning
1. Queries / Indexes
1. Table structure
1. Datatypes

(normally easy of change)

# Data Types

## Numeric types

* TINYINT (1 byte)
* BOOLEAN - Synonym for TINYINT
* SMALLINT (2 byte)
* MEDIUMINT (3 bytes- weird)
* INT, INTEGER (4 byte)
* BIGINT (8 byte)
* DECIMAL
* FLOAT
* DOUBLE
* BIT

DECIMAL(M, D)
* M is the total number of digits (the precision); and
* D is the number of digits after the decimal point (the scale)

Note: *Ignoring alias(mostly)

* SIGNED - allow negative
* UNSIGNED - all positive or 0

Ref: https://mariadb.com/kb/en/numeric-data-type-overview/

### EXERCISE 1 - examine the limits

What are the lower/upper limits of these?

Adjust TINYINT and SIGNED, adjust the values.
Use the Play button on the notebook to run the particular line.
Then run the next line.
Go back to run with a different set.

In [ ]:
use test;

In [ ]:
CREATE OR REPLACE TABLE datatypetest_numeric( ID TINYINT SIGNED);

In [ ]:
INSERT INTO datatypetest_numeric VALUES ( fillmein ),( fillmein );

In [ ]:
SELECT * FROM datatypetest_numberic;

### Auto increment

To populate integer types automaticly.

Guarantees:
* Will be unique
* Will be bigger than previous

Not Guaranteed:
* Will be exactly 1 more
* There will be no gaps

ref: https://mariadb.com/kb/en/auto_increment/

### EXERCISE 2 - how auto increment behaves

In [ ]:
CREATE OR REPLACE TABLE datatypetest_autoincrement( ID TINYINT UNSIGNED AUTO_INCREMENT PRIMARY KEY, data TEXT);

In [ ]:
INSERT INTO datatypetest_autoincrement (data) VALUES ('dog'), ('cat'), ('chicken');

In [ ]:
SELECT LAST_INSERT_ID();

In [ ]:
SELECT * FROM datatypetest_autoincrement;

## String types

* BINARY / VARBINARY
* CHAR / VARCHAR
* BLOB (TINYBLOB, BLOB, MEDIUMBLOB, LONGBLOB)
* TEXT (TINYTEXT..... LONGTEXT)
* ENUM
* INET4 /INET6
* JSON (`LONGTEXT COLLATE utf8mb4_bin` alias)
* SET (avoid - your breaking normalization)
* UUID

BINARY and BLOB, INET4/6 and UUID - no character set

CHAR, VARCHAR and BINARY, VARBINARY have a specified maximum length.

Variable types, VARBINARY/VARCHAR/BLOB/TEXT store length, then data. Can be compact.

Note: Stick to what is needed on VARCHAR/VARBINARY - complex SQL may use CHAR(X), BINARY(X) (fixed full size) as temporary storage

ref: https://mariadb.com/kb/en/string-data-types/

### Character sets

Define the range of characters. Usual choices 'utf8mb4' or 'latin1'.

In [ ]:
SHOW CHARACTER SET /* Run me */;

### Collations

Define the order. Is 'o' < = > 'รถ'?

What collations are useful - uca1400_{language}{_nopad}{_a[is]}{_c[is]}

nopad - treats " this is it " = "this is it"
as - accent sensitive
ai - accent insensitive
cs - case sensitive
ci - case insensitive

In [ ]:
show collation /* Run me too */;

In [ ]:
create or replace table datatypes_string(t TEXT CHARACTER SET utf8mb4 COLLATE uca1400_ai_ci);

### Collation Comparsion

Collations affect how values are compared. What happens for:

In [ ]:
create table collation_compare_t520 (t varchar(30) character set  utf8mb4 collate utf8mb4_unicode_520_ci);

create table collation_compare_t1400 (t varchar(30) character set  utf8mb4 collate utf8mb4_uca1400_ai_ci);

insert into collation_compare_t520 values ('bob'),('jack'), ('jane');

insert into collation_compare_t1400 values ('bob'),('jack'), ('jane');

In [ ]:
select * from collation_compare_t1400 t1400 join collation_compare_t520 t520 on t1400.t = t520.t;

### Coercibiliy (to which collations does conversion occur)
    
Coercibility defines what will be converted to what in case of collation conflict, with an expression with higher coercibility being converted to the collation of an expression with lower coercibility.

| Coercibility    | Description                                      | Example                                           |
|------------------|--------------------------------------------------|---------------------------------------------------|
| 0                | Explicit                                         | Value using a COLLATE clause                      |
| 1                | No collation                                     | Concatenated strings using different collations    |
| 2                | Implicit                                         | A string data type column value, CAST to a string data type |
| 3                | System constant                                  | DATABASE(), USER() return value                   |
| 4                | Coercible                                       | Literal string                                    |
| 5                | Numeric                                          | Numeric and temporal values                        |
| 6                | Ignorable                                        | NULL or derived from NULL                          |


ref: https://mariadb.com/kb/en/coercibility/

In [ ]:
SELECT COERCIBILITY(_latin1 'abc' COLLATE latin1_swedish_ci);

In [ ]:
CREATE OR REPLACE TABLE coercibility (a VARCHAR(30) COLLATE uca1400_swedish_ai_ci, b VARCHAR(30) COLLATE uca1400_german2_ai_ci) CHARSET utf8mb4;
INSERT INTO coercibility VALUES ('abc', 'def'); /* a 2 coercibility */
SELECT COERCIBILITY(CONCAT(a, b)) FROM coercibility;

In [ ]:
SELECT COERCIBILITY(CAST(1 AS CHAR));

In [ ]:
SELECT COERCIBILITY(USER());

In [ ]:
SELECT COERCIBILITY('abc');

In [ ]:
SELECT COERCIBILITY(1);

In [ ]:
SELECT COERCIBILITY(NULL);

### Collations and JOIN performance

Observer the difference in performance time

In [ ]:
CREATE OR REPLACE TABLE collate_join1 (
  id varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL DEFAULT '',
  date datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (id)
);
CREATE OR REPLACE TABLE collate_join2 (
  id varchar(64) CHARACTER SET latin1 COLLATE latin1_swedish_ci NOT NULL DEFAULT '',
  date datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (id)
);
insert into collate_join1 (id) select * from seq_1_to_6500;
insert into collate_join2 (id) select * from seq_1_to_6500;

In [ ]:
select t2.* from collate_join1 t1 left join collate_join2 t2 using (id) where t2.id is null;

In [ ]:
analyze format=json select t2.* from collate_join1 t1 left join collate_join2 t2 using (id) where t2.id is null;

In [ ]:
alter table collate_join2 modify id varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL;

In [ ]:
 select t2.* from collate_join1 t1 left join collate_join2 t2 using (id) where t2.id is null;

In [ ]:
analyze format=json select t2.* from collate_join1 t1 left join collate_join2 t2 using (id) where t2.id is null;

## Date and Time

* DATE
* TIME
* DATETIME
* TIMESTAMP
* YEAR

TIMESTAMP doesn't have a timezone.

TIME*s can have up to (6) precision (microseconds). defaults to (0) seconds.

## GEOMETRY

(skipping - short on time)

ref: https://mariadb.com/kb/en/geometry-types/

## NULL

NULL represents an unknown value. It is not an empty string (by default), or a zero value. These are all valid values, and are not NULLs.

ref: https://mariadb.com/kb/en/null-values/

### Exercise how to NULLs compare

In [ ]:
SELECT NULL = NULL;

In [ ]:
SELECT NULL != NULL;

In [ ]:
SELECT NULL < NULL;

In [ ]:
SELECT 99 = NULL;

In [ ]:
SELECT "apple" = NULL;

But there is truth
* "IS NULL" is an operator
* "IS NOT NULL" is an operator
* <=> Null safe equal
* ISNULL is a function

In [ ]:
SELECT NULL IS NULL;

In [ ]:
SELECT 9 IS NOT NULL;

In [ ]:
SELECT ISNULL(NULL);

In [ ]:
SELECT NOT ISNULL(9);

In [ ]:
SELECT NULL <=> NULL;

## Type Conversion

### Rules for Conversion on Comparison
* If  either argument is NULL, the result of the comparison is NULL unless the NULL-safe <=> equality comparison operator is used.
* If both arguments are integers, they are compared as integers.
* If both arguments are strings, they are compared as strings.
* If one argument is decimal and the other argument is decimal or integer, they are compared as decimals.
* If one argument is decimal and the other argument is a floating point, they are compared as floating point values.
* If one argument is string and the other argument is integer, they are compared as decimals. This conversion was added in MariaDB 10.3.36. Prior to 10.3.36, this combination was compared as floating point values, which did not always work well for huge 64-bit integers because of a possible precision loss on conversion to double.
* If a hexadecimal argument is not compared to a number, it is treated as a binary string.
* If a constant is compared to a TIMESTAMP or DATETIME, the constant is converted to a timestamp, unless used as an argument to the IN function.
* In other cases, arguments are compared as floating point, or real, numbers.

Note that if a string column is being compared with a numeric value, MariaDB will not use the index on the column, as there are numerous alternatives that may evaluate as equal (see examples below).

ref: https://mariadb.com/kb/en/type-conversion/

In [ ]:
SELECT 15+'15';

In [ ]:
SELECT '9746718491924563214' = 9746718491924563213;

In [ ]:
SELECT '5' = 5;

In [ ]:
SELECT '   5' = 5;

In [ ]:
CREATE OR REPLACE TABLE typeconversion (a VARCHAR(10), b VARCHAR(10), INDEX idx_a (a));

In [ ]:
INSERT INTO typeconversion VALUES 
  ('1', '1'), ('2', '2'), ('3', '3'), 
  ('4', '4'), ('5', '5'), ('1', '5');

In [ ]:
EXPLAIN SELECT * FROM typeconversion WHERE a = '3';

In [ ]:
EXPLAIN SELECT * FROM typeconversion WHERE a = 3 ;

Conversions occur in functions that compare arguments. Some functions take multiple types, but return the common type of all. So conversion rules take place. Conversions also happen between functions. Sometimes functions expect a type, so its converted.

### Execise Conversions

Can you explain the results observed?

references:
* NULLIF - https://mariadb.com/kb/en/nullif
* FIELD - https://mariadb.com/kb/en/field
* operators - https://mariadb.com/kb/en/function-and-operator-reference/
* case operator - https://mariadb.com/kb/en/case-operator/

In [ ]:
select nullif("dog", 0) as c /* MDEV-35120 */;

In [ ]:
SHOW WARNINGS;

In [ ]:
 select FIELD(0, 'c') as c0 /* MDEV-35121 */;

In [ ]:
SHOW WARNINGS;

In [ ]:
select FIELD('0', 'c') as c0  /* MDEV-35121 */;

In [ ]:
SHOW WARNINGS;

In [ ]:
SELECT 'o' || 'i';

In [ ]:
SELECT CASE WHEN true THEN '1' ELSE 0 END;

# Structured Tables and Queries

**Structured** Query Language

Every (row,column) should have 1 item, if you're going to making any decision on this.

If its a Value, like Key/Value store - sure could be a JSON doc.

## Data normalization

3rd Normal Form (3NF) etc may be gold standard.

For the practictioners guide:
1. design some tables,
2. write some queries around them that match to what you are doing.
3. If #2 was hard to do, or messy/complicated, your table structure should be different
4. if performance matters a lot - prototype and test

### Joining tables

This is for many to many relationships. More tables aren't inherently bad.

e.g. Supplier - many, of which many provide the same Product

Supplier:
* supplier_id
* supplier_name
* address

Product:
* product_id
* product_name
* product_description

Supplier_product (a joining table)
* supplier_id
* product_id
* quantity_available

```sql
SELECT supplier_name, product_name, quantity_available
FROM Supplier
JOIN Supplier_product USING (supplier_id)
JOIN Product ON Supplier_product.product_id = Product.id
```

## JOINS

List all suppliers, even if they don't have a product

```SQL
SELECT supplier_name, product_name, quantity_available
FROM Supplier
LEFT JOIN Supplier_product USING (supplier_id)
LEFT JOIN Product USING (product_id)
```

In [ ]:
CREATE OR REPLACE TABLE Supplier (supplier_id INT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
    supplier_name VARCHAR(40) NOT NULL,
    supplier_address VARCHAR(200));
CREATE OR REPLACE TABLE Product (product_id INT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
    product_name VARCHAR(40) NOT NULL,
    product_description VARCHAR(200));
CREATE OR REPLACE TABLE Supplier_Product(
    supplier_id INT UNSIGNED NOT NULL,
    product_id INT UNSIGNED NOT NULL,
    quantity_available INT UNSIGNED,
    PRIMARY KEY (supplier_id, product_id));

INSERT INTO Supplier(supplier_name, supplier_address) VALUES
    ('Joe', '12 Polloc st'),
    ('Suresh', '55 Oloc Rd'),
    ('Hanna', '1 Old Northern Rd');
    INSERT INTO Product(product_name, product_description) VALUES
        ('Bananas', 'big yellow'),
        ('Apples', 'granny smith');
INSERT INTO Supplier_Product VALUES
    (1, 1, 0),
    (1, 2, 5),
    (2, 1, 4);

In [ ]:
SELECT supplier_name, product_name, quantity_available
FROM Supplier
LEFT JOIN Supplier_Product USING (supplier_id)
LEFT JOIN Product USING (product_id);

If the first one wasn't a `LEFT JOIN`, just `JOIN`?

### Aggregations

Need a summary? can let the database do this. Less transmitted data and the aggregation normally isn't expensive.

How many products types does each supplier have?

Syntax (simplified):

```sql
SELECT column1, Aggregatefunction(columns)....
FROM tables
[JOIN other tables]
[GROUP BY column1[, column2....]
```

What out for Invalid aggregation (Not detected by default).
This is when you `GROUP BY` something, and expect something in the same table to be there.

There will be one output row for the unique `GROUP BY` expression.

```sql
INSERT INTO Product(product_name, product_description) VALUES ('Bananas', 'lady finger'), ('Bananas', 'from Jamacia');
SELECT product_name, product_description FROM Product GROUP BY product_name;
```

In [ ]:
INSERT INTO Product(product_name, product_description) VALUES ('Bananas', 'lady finger'), ('Bananas', 'from Jamacia');

In [ ]:
SELECT product_name, product_description, COUNT(*) as c FROM Product GROUP BY product_name;

Which Banana description did you get?

In [ ]:
SET STATEMENT sql_mode=ONLY_FULL_GROUP_BY FOR
    SELECT product_name, product_description, COUNT(*) as c
    FROM Product
    GROUP BY product_name;

Common mistake - overjoining when you don't need the other table

In [ ]:
SELECT product_name,
       product_description,
       COUNT(*) AS c
FROM Product
LEFT JOIN Supplier_Product USING (product_id)
LEFT JOIN Supplier USING (supplier_id)
GROUP BY product_name;

Was `Supplier` / `Supplier_product` actually used? Are they used if `LEFT JOIN` was just `JOIN`. Test and see, then explain.

### Window Functions

Window function queries are characterised by the OVER keyword, following which the set of rows used for the calculation is specified

ref: https://mariadb.com/kb/en/window-functions-overview/

In [ ]:
CREATE OR REPLACE TABLE student (name CHAR(10), test CHAR(10), score TINYINT); 

INSERT INTO student VALUES 
  ('Chun', 'SQL', 75), ('Chun', 'Tuning', 73), 
  ('Esben', 'SQL', 43), ('Esben', 'Tuning', 31), 
  ('Kaolin', 'SQL', 56), ('Kaolin', 'Tuning', 88), 
  ('Tatiana', 'SQL', 87), ('Tatiana', 'Tuning', 83);

In [ ]:
SELECT name, test, score, AVG(score) OVER (PARTITION BY name) 
  AS average_by_name FROM student;

# Indexing

Query planning/execution is how databases take a problem statment, your `SELECT` query, and give a result as quickly as possible.

Indexs are the mechanims for MariaDB:
* Fetch less data (ranges/ key lookups)
* Identify unique values
* Enforce unique and foreign key constraints
* Hold locks associated with transactions

Indexs /Indicies are a B-tree. There is a hash form, B-tree is just as efficient.

Primary key index, clustered (always in MariaDB), is the order of the rows in the table.

Secondary Indexs /Indicies are a B-tree of the index contents that point to the primary key of the table. The PRIMARY KEY is at the end of the index. Don't do `CREATE INDEX b (b, PK)`, internally it will be `(b, PK, PK)` which wastes space.

Created with `CREATE TABLE`, or `ALTER TABLE`, or `CREATE INDEX`.

What index is my query using:
* `EXPLAIN {query}`
* `ANALYZE FORMAT=JSON {query}`

Special reference to https://use-the-index-luke.com/, that has all this and helped me form this section. It has more detail than will cover now.

In [ ]:
EXPLAIN SELECT supplier_name FROM Supplier WHERE supplier_id=1;

In [ ]:
 ANALYZE FORMAT=JSON SELECT supplier_name FROM Supplier WHERE supplier_id=1;

## Concatinated indexes
    
Also called multi-column, composite or combined index.

This is where multiple items are in index.

As this is a Btree, `INDEX name_of_index (a, b)` is first inserted by `a` then `b`. Order is exceptionally supported.

E.g.

```sql
ALTER TABLE employees ADD PRIMARY KEY(employee_id, subsidiary_id)
```

Example index as flattened list:

| employee_id | subsiduary_id | other fields.... |
|-----|----|--|
| 120 | 10 | |
| 120 | 20 | |
| 123 | 10 | |
| 123 | 20 | |
| 123 | 30 | |
| 140 | 20 | |


```sql
SELECT first_name, last_name
  FROM employees
 WHERE employee_id   = 123
   AND subsidiary_id = 30
```

Will find `employee_id` = 123, then continue in the same index looking for `subsiduary_id = 30`.

```sql
SELECT first_name, last_name
  FROM employees
 WHERE subsidiary_id = 20
```

Cannot use the index without looking for every element.


### One Index

A SQL statement will use* ONE index per table (alias) in a SQL query.

By alias I mean instance of table.

```sql
SELECT super.name, emp.name
FROM employee super
JOIN employee emp WHERE emp.super = super.employe_id
```
By "alias" mean the index used for `super` might be different to index used by "emp".

Note: * minor exceptions apply (https://mariadb.com/kb/en/rowid-filtering-optimization/)

### Functions and indexes

Normally when you use a function, this prohibits index usage.

So `SELECT name FROM table WHERE LOWER(name) = 'bobby'`;

The index isn't on `LOWER(name)` , its on `name`, which might be a different order.

### Special Sargable Functions

Functions require special server handing to use an index and only in special circumstances.

The query optimzer will rewrite query or use special logic so acheive optimizer usage.

Identified by the "using index" part of `EXPLAIN`/`ANALYZE FORMAT=JSON`.

#### Sargable DATE/YEAR
E.g. below where added MariaDB 11.1 for functions `DATE` and `YEAR` for `TIMESTAMP`/`DATETIME` types

ref: https://mariadb.com/kb/en/sargable-date-and-year/

In [ ]:
CREATE OR REPLACE TABLE sargeable_date (a TIMESTAMP,KEY(a));
INSERT INTO sargeable_date VALUES
    ('2023-12-31 23:59:59'),
    ('2024-01-22 10:20:30'),
    ('2024-01-23 10:20:30'),
    ('2024-01-23 23:59:59'),
    ('2024-01-24 00:00:00'),
    ('2024-12-31 23:59:59'),
    ('2025-01-01 00:00:00');

In [ ]:
SELECT * FROM sargeable_date WHERE DATE(a) <= '2024-01-23';

In [ ]:
ANALYZE FORMAT=JSON SELECT * FROM sargeable_date WHERE DATE(a) <= '2024-01-23';

In [ ]:
ANALYZE FORMAT=JSON SELECT * FROM sargeable_date WHERE YEAR(a) >= 2024;

#### Sargable UPPER

Highlighted by access type=ref

ref: https://mariadb.com/kb/en/sargable-upper/

In [ ]:
create or replace table sargable_upper (
  v varchar(32) collate utf8mb4_general_ci,
  key(v)
);

In [ ]:
insert into sargable_upper VALUES ('dog'), ('cat'), ('chicken');

In [ ]:
analyze format=json select * from sargable_upper where UPPER(v)='ABC';

In [ ]:
 analyze format=json select * from sargable_upper where UPPER(v) LIKE 'ABC%' /* not supported here */;

### What SQL uses and index

* WHERE
* JOIN
* ORDER BY
* result `SELECT a,b FROM tbl WHERE a=3` when using `INDEX(a,b)` will return `b` from the index

### Indexes and Expressions

```sql
SELECT numeric_number
  FROM table_name
 WHERE numeric_number - 1000 > 10
```
    
Even the numeric_number indexed, the operatorion cannot succeed. So keep field unincumbered by expressions:

```sql
SELECT numeric_number
  FROM table_name
 WHERE numeric_number > (10 + 1000)
```

### Complex expressions

What if we have a table and need to select quickly on a combined attribute.

E.g.

In [ ]:
CREATE OR REPLACE TABLE package (name VARCHAR(30), x INT UNSIGNED, y INT UNSIGNED, z INT UNSIGNED);

In [ ]:
INSERT INTO package(name, x, y, z)  VALUES ('cat', 30, 20, 30), ('dog', 1000, 40, 60), ('luggage', 50, 40, 20);

In [ ]:
SELECT name FROM package WHERE x * y * z > 18000;

In [ ]:
EXPLAIN SELECT name FROM package WHERE x * y * z > 18000;

Generated expressions to the rescue:

Create an expression (must be causal (for same input, same output) and not depend on system variables):

ref: https://mariadb.com/kb/en/generated-columns/

In [ ]:
ALTER TABLE package ADD volume INT UNSIGNED AS (x * y * z) STORED, ADD INDEX v_index(volume);

In [ ]:
SELECT name FROM package WHERE volume > 18000;

In [ ]:
EXPLAIN SELECT name FROM package WHERE volume > 18000;

# Basic Tuning

Tuning is via system variables. There are 3 forms:
* Global variables
* Global and session variables
* Session only variables

Most can be changed at runtime (especially in later MariaDB versions). Always remember to persist global changes in the configuration file or they will be lost.

## Tuning methodology

Default configuration is good. Tune where there is a problem, like slow queries.

Make a change, measure/test its inmpact.

## InnoDB Tuning

InnoDB is the storage engine most likely used for tables.

### InnoDB Buffer Pool Size

InnoDB Buffer Pool is a dynamic global system variable. This is a big cache as to what data can be cached in memory.

What's the limit. Its all RAM, how much do you have?

The ideal size to hold what data is frequently accessed. If there's an infrequent access data will be read from storage.

Frequently quoted things:
* Use 80% of available RAM (empasis on available, not total).
* There should be 20% free pages in the buffer pool.

In [ ]:
select @@innodb_buffer_pool_size;

What is being accessed?

Look at:

In [ ]:
show global status like 'innodb_buffer_pool_pages%';

This shows:
* **Innodb_buffer_pool_pages_data** - number of pages (of 16k bytes in size by default), out of **Innodb_buffer_pool_pages_total** are used.

If very small %, then you have overallocated innodb buffer pool, (or this is idle and you aren't looking at anything meaningful).

ref: https://mariadb.com/kb/en/innodb-status-variables

In [ ]:
show global status like 'innodb_buffer_pool_read%';

* **Innodb_buffer_pool_read_requests** - number of times SQL requests a page of data from innodb
* **Innodb_buffer_pool_reads** - number of time those requests made it to being a storage read.

note: At startup they are all going to be read from storage. Looking at this 10 minutes after start is pretty biased.

Rough metric, if **Innodb_buffer_pool_reads** / **Innodb_buffer_pool_read_requests** < 1%, then that's the amount of storage reads.

If its 10+ % and its a production workload that has been running for a while, then your buffer pool is too small.

If its < 0.01% then its probably too big.

Changing the value "SET GLOBAL innodb_buffer_pool = "(size in bytes) - can be expression like "12 * 1024 *1024 *1024" (12GB);

Alternate on Linux 11.0 **[innodb_data_file_buffering=ON](https://mariadb.com/kb/en/innodb-system-variables/#innodb_data_file_buffering)**, <11.0 - **[innodb_flush_method=fsync](https://mariadb.com/kb/en/innodb-system-variables/#innodb_flush_method)** - with buffered pages OS acts as a cache.

In [ ]:
SET GLOBAL innodb_buffer_pool_size=1024*1024*1024;

### Innodb Log File Size

This is the Redo log. This is the ib_logfile* (s). These ensure that a power outage preserves chanages. Never delete these.

This records UPDATE/DELETE/INSERT data quickly to disk so its durable, and can return success quickly to application.

Because changes are in the Redo Log and the InnoDB Buffer Pool, it can be handy if these are of the same size so that large bulk changes are limited by the InnoDB buffer pool rather than the log file.

ref: https://mariadb.com/kb/en/innodb-system-variables/#innodb_log_file_size

Dynamic (since 10.11+ (ignoring end of life releases)).

Default value 128M. If you are doing bulk updates or lots of them, this may not be enough. A too big value will mean crash recovery is slow.

ref: https://mariadb.com/kb/en/innodb-page-flushing

In [ ]:
show global status like "Innodb_checkpoint_%";

This is a volume of data in bytes.

If `Innodb_checkpoint_max_age` / `@@innodb_log_file_size` is close to 1, then innodb_log_file_size should be increased.

But also check that Innodb_checkpoint_max_age is something that Innodb_checkpoint_age approaches semi frequently.

Live example: https://grafana.wikimedia.org/d/000000273/mysql?orgId=1&refresh=1m&from=now-24h&to=now

ref:
* https://mariadb.com/kb/en/innodb-redo-log/#redo-log-group-capacity

### InnoDB Flushing

A background process called flushing moves the buffer pool changes to the tablespaces of each table.

Triggered by:
* Adaptive flushing (enabled), then [innodb_adaptive_flushing_lwm](https://mariadb.com/kb/en/innodb-system-variables/#innodb_adaptive_flushing_lwm) is percentage of **innodb_log_file_size** to start flushing
* 
Set **[innodb_io_capacity](https://mariadb.com/kb/en/innodb-system-variables/#innodb_io_capacity)** to the IOPs capacity of the storage. This ensure that background flushing can occur without affecting reads from storage.

ref:

* https://mariadb.com/kb/en/innodb-page-flushing/#configuring-the-innodb-io-capacity

## Tuning Connections

* MariaDB maintains a thread pool of connections ready to process a connection
* MariaDB has a limit of max_connections that poses an upper limit of connections (doesn't apply to CONNECTION ADMIN granted users)

Slow queries can impose pressure of the number of connections:
* A slow query ties up the use of a connection
* If it finished sooner then another client connection could be using it.
* because a concurrent web or application is imposing multiple queries at once, quick queries overall with reduce **max_connections** requirements.

After (or while if really pushed) solving slow queries

ref: https://mariadb.com/kb/en/grant/#connection-admin

In [ ]:
SHOW PROCESSLIST;

Run this a few times to get the idea of how may active connections there are.

In [ ]:
SHOW GLOBAL STATUS LIKE 'Max_used_connections';

This shows it as well,

if this is the same as the **max_connections** system variable then its possible a stall of queries.

potential causes:
* insufficient **innodb_buffer_pool_size** or **innodb_log_file_size**, (slow flushing as one cause)
* storage speed slowing flushing (check **innodb_io_capacity**),
* bulk large analytic queries (all the buffer pool pages are needed to preserve repeatable read)
* insufficient indexs on long open transactions causing REPEATIABLE READ pages to be fixed buffer.
* hot locked index caused delaying other queries.

Resolve these first before deciding a **max_connections** value. A **max_connections** value needs to be supported by hardware (CPU/RAM) depends on your workload.

## Before Query Optimization

Query Execution is based on how much of the table it will read.

If the choice is between reading 30% of a index, and also needing to read the main table, it will ignore index.

Also large table changes may impact results and the index statistics will not be current.

ANALYZE TABLE analyzes and stores the key distribution for a table.

Quick version:

    ANALYZE TABLE tbl PERSISTENT FOR ALL

ref: https://mariadb.com/kb/en/analyze-table/

## Optimizer switch

There are large number of ways MariaDB can consider executing your query.

Some are not enabled by default.

Reasons for an optimizer plan to not be available:
* It was added after the MariaDB version was GA, e.g. [optimizer_switch=cset_narrowing](https://mariadb.com/kb/en/charset-narrowing-optimization/).
* Known to work really well in some circumstances, but choice of this optimization method can be suboptimizal in other circumstances.

ref: https://mariadb.com/kb/en/optimizer-switch/

Recommended use, enable for specific queries.

As a session:

SET SESSION optimizer_switch={optimization=on}

Or statement:

SET STATEMENT optimizer_switch={optimization=on} FOR SELECT ....

# Problem Diagnosis

Understand the problem before jumping to conclusions.

## MariaDB Error Log

std/stderr by default - means it goes to systemd service - so journalctl -u mariadb.service

Take note of types:
* \[Note\] InnoDB: Initializing buffer pool, total size = 128.000MiB, chunk size = 2.000MiB
* \[Warning\] mariadbd: io_uring_queue_init() failed with ENOSYS: check seccomp filters, and the kernel version (newer than 5.1 required)
* \[ERROR\] mariadbd: Can't lock aria control file '/var/lib/mysql/aria_log_control' for exclusive use, error: 11. Will retry

To control what is logged **[log_warnings](https://mariadb.com/kb/en/server-system-variables/#log_warnings)** has levels.

## Analyze format=json / explain

Elements of EXPLAIN {EXTENDED}
```
MariaDB [test]> explain extended select seq from seq_1_to_30;
+------+-------------+-------------+-------+---------------+---------+---------+------+------+----------+-------------+
| id   | select_type | table       | type  | possible_keys | key     | key_len | ref  | rows | filtered | Extra       |
+------+-------------+-------------+-------+---------------+---------+---------+------+------+----------+-------------+
|    1 | SIMPLE      | seq_1_to_30 | index | NULL          | PRIMARY | 8       | NULL | 30   |   100.00 | Using index |
+------+-------------+-------------+-------+---------------+---------+---------+------+------+----------+-------------+
```

This a plan. There may be changes. `ANALYZE` runs the query

```
ANALYZE FORMAT=JSON select seq from seq_1_to_30\G
*************************** 1. row ***************************
ANALYZE: {
  "query_optimization": {
    "r_total_time_ms": 0.211595358
  },
  "query_block": {
    "select_id": 1,
    "r_loops": 1,
    "r_total_time_ms": 0.128058752,
    "nested_loop": [
      {
        "table": {
          "table_name": "seq_1_to_30",
          "access_type": "index",
          "key": "PRIMARY",
          "key_length": "8",
          "used_key_parts": ["seq"],
          "r_loops": 1,
          "rows": 30,
          "r_rows": 30,
          "r_table_time_ms": 0.005894714,
          "r_other_time_ms": 0.112255834,
          "r_engine_stats": {},
          "filtered": 100,
          "r_filtered": 100,
          "using_index": true
        }
      }
    ]
  }
```

As you can see ANALYZE has measurements, identification of what parts of the index where used.

*r_* is the real what happened during execution. Non *r_* lows rows/filtered where an estimate. When they differ signficantly, try updating table statistics.

## Slow Query Log

Since 10.11 - all dynamic, and session/global.

* **[slow_query_log=1](https://mariadb.com/kb/en/server-system-variables/#slow_query_log)** - boolean variable to enable
* **[log_slow_query_time=0.4](https://mariadb.com/kb/en/server-system-variables/#log_slow_query_time)** - what constitues a slow query (default of 10s) is too big for many cases
* **[log_slow_verbosity=full](https://mariadb.com/kb/en/server-system-variables/#log_slow_verbosity)** - how much detail - *full* include EXPLAIN EXTENDED information.

ref: https://mariadb.com/kb/en/slow-query-log-overview/#configuring-the-slow-query-log-time

## SHOW STATUS

In [ ]:
SHOW GLOBAL STATUS;

In [ ]:
SHOW SESSION STATUS;

In [ ]:
SHOW ENGINE INNODB STATUS;

Last Dead lock infomation

```
=====================================
2024-10-22 16:03:46 0x7f64bad016c0 INNODB MONITOR OUTPUT
=====================================
Per second averages calculated from the last 50 seconds
-----------------
BACKGROUND THREAD
-----------------
srv_master_thread loops: 0 srv_active, 0 srv_shutdown, 891 srv_idle
srv_master_thread log flush and writes: 891
----------
SEMAPHORES
----------
------------
TRANSACTIONS
------------
Trx id counter 111
Purge done for trx's n:o < 0 undo n:o < 0 state: running but idle
History list length 0
LIST OF TRANSACTIONS FOR EACH SESSION:
---TRANSACTION (0x7f64ca202340), not started
0 lock struct(s), heap size 1128, 0 row lock(s)
--------
FILE I/O
--------
Pending flushes (fsync): 0
187 OS file reads, 0 OS file writes, 1 OS fsyncs
0.00 reads/s, 0 avg bytes/read, 0.00 writes/s, 0.00 fsyncs/s
---
LOG
---
Log sequence number 7704857
Log flushed up to   7704857
Pages flushed up to 7704857
Last checkpoint at  7704841
----------------------
BUFFER POOL AND MEMORY
----------------------
Total large memory allocated 167772160
Dictionary memory allocated 857728
Buffer pool size   8064
Free buffers       7756
Database pages     308
Old database pages 0
Modified db pages  0
Percent of dirty pages(LRU & free pages): 0.000
Max dirty pages percent: 90.000
Pending reads 0
Pending writes: LRU 0, flush list 0
Pages made young 0, not young 0
0.00 youngs/s, 0.00 non-youngs/s
Pages read 177, created 131, written 0
0.00 reads/s, 0.00 creates/s, 0.00 writes/s
Buffer pool hit rate 1000 / 1000, young-making rate 0 / 1000 not 0 / 1000
Pages read ahead 0.00/s, evicted without access 0.00/s, Random read ahead 0.00/s
LRU len: 308, unzip_LRU len: 0
I/O sum[0]:cur[0], unzip sum[0]:cur[0]
--------------
ROW OPERATIONS
--------------
0 read views open inside InnoDB
state: sleeping
----------------------------
END OF INNODB MONITOR OUTPUT
============================

```

## Seeking Help

Where to get help:
    
* https://mariadb.com/kb
* https://stackoverflow.com/ (for SQL questions)
* https://dba.stackexchange.com/ (for DBA tuning and adminstration questions)
* https://mariadb.zulipchat.com