In [50]:
select 1 c where 0 union values('b1'),('a2'),('a11'),('a1');

c
b1
a2
a11
a1

In [51]:
select 1 c where 0 union values('b1'),('a2'),('a11'),('a1') order by c;

c
a1
a11
a2
b1

In [52]:
select 1 c where 0 union values('b1'),('a2'),('a11'),('a1') order by natural_sort_key(c);

c
a1
a2
a11
b1

In [53]:
select 1 mariadb_versions where 0 union values('5.5.31'),('10.7.0'),('10.2.1'),('10.1.22'),('10.3.32'),('10.2.12');

mariadb_versions
5.5.31
10.7.0
10.2.1
10.1.22
10.3.32
10.2.12

In [54]:
 select 1 mariadb_versions where 0 union values('5.5.31'),('10.7.0'),('10.2.1'),('10.1.22'),('10.3.32'),('10.2.12') order by(mariadb_versions);

mariadb_versions
10.1.22
10.2.1
10.2.12
10.3.32
10.7.0
5.5.31

In [55]:
select 1 mariadb_versions where 0 union values('5.5.31'),('10.7.0'),('10.2.1'),('10.1.22'),('10.3.32'),('10.2.12') order by natural_sort_key(mariadb_versions);

mariadb_versions
5.5.31
10.1.22
10.2.1
10.2.12
10.3.32
10.7.0

In [56]:
select 1 my_ips where 0 union values('192.167.3.1'),('192.167.1.12'),('100.200.300.400'),('100.50.60.70'),('100.8.9.9'),('127.0.0.1'),('0.0.0.0');

my_ips
192.167.3.1
192.167.1.12
100.200.300.400
100.50.60.70
100.8.9.9
127.0.0.1
0.0.0.0

In [57]:
select 1 my_ips where 0 union values('192.167.3.1'),('192.167.1.12'),('100.200.300.400'),('100.50.60.70'),('100.8.9.9'),('127.0.0.1'),('0.0.0.0') order by(my_ips);

my_ips
0.0.0.0
100.200.300.400
100.50.60.70
100.8.9.9
127.0.0.1
192.167.1.12
192.167.3.1

In [58]:
select 1 my_ips where 0 union values('192.167.3.1'),('192.167.1.12'),('100.200.300.400'),('100.50.60.70'),('100.8.9.9'),('127.0.0.1'),('0.0.0.0') order by natural_sort_key(my_ips);

my_ips
0.0.0.0
100.8.9.9
100.50.60.70
100.200.300.400
127.0.0.1
192.167.1.12
192.167.3.1

In [59]:
use test;

In [60]:
create table  if not exists t(c varchar(3), k varchar(3)  as (natural_sort_key(c)) invisible);

In [61]:
show create table t;

Table,Create Table
t,"CREATE TABLE `t` ( `c` varchar(10) DEFAULT NULL, `k` varchar(10) GENERATED ALWAYS AS (natural_sort_key(`c`)) VIRTUAL ) ENGINE=InnoDB DEFAULT CHARSET=latin1"

In [62]:
select * from t;

c,k
b1,b01
a1b,a01b
a11,a111
a0,a00
a01b,a01b
a1b1,a01b01
a01b1,a01b01
a01b2,a01b02

In [63]:
select * from t order by c;

c,k
a0,a00
a01b,a01b
a01b1,a01b01
a01b2,a01b02
a11,a111
a1b,a01b
a1b1,a01b01
b1,b01

In [64]:
select * from t order by k;

c,k
a0,a00
a1b,a01b
a01b,a01b
a1b1,a01b01
a01b1,a01b01
a01b2,a01b02
a11,a111
b1,b01

In [65]:
create table t2(c varchar(1), k varchar(2)  as (natural_sort_key(c)) stored);

Function or expression 'natural_sort_key()' cannot be used in the GENERATED ALWAYS AS clause of `k`
(B(B